In [1]:
import requests
import pandas as pd
import numpy as np

In [11]:
status_codes = []
for i in range(1, 83):
    person = requests.get('http://swapi.dev/api/people/{}/'.format(i))
    status_codes.append(person.status_code)

In [6]:
pd.DataFrame(status_codes).iloc[16,:]

name                NaN
height              NaN
mass                NaN
hair_color          NaN
skin_color          NaN
eye_color           NaN
birth_year          NaN
gender              NaN
homeworld           NaN
films               NaN
species             NaN
vehicles            NaN
starships           NaN
created             NaN
edited              NaN
url                 NaN
detail        Not found
Name: 16, dtype: object

In [75]:
np.where([code != 200 for code in status_codes])

(array([16]),)

In [78]:
people = []
i = 1
while len(people) < 82:
    person = requests.get('http://swapi.dev/api/people/{}/'.format(i))
    if person.status_code == 200:
        people.append(person.json())
    else:
        pass
    i+=1

In [17]:
people_df = pd.DataFrame(people)

In [21]:
people_df.columns

Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'gender', 'homeworld', 'films', 'species', 'vehicles',
       'starships', 'created', 'edited', 'url'],
      dtype='object')

In [79]:
people_df['birth_year'] = people_df['birth_year'].replace('unknown', np.nan)

In [47]:
people_df.birth_year.isna().sum()

39

In [49]:
np.sum(people_df['birth_year'].str.contains('BBY'))

43

In [58]:
people_df['birth_year'] = people_df['birth_year'].str.replace('BBY', '').astype('float')

In [61]:
year_df = people_df.loc[:, ['name', 'birth_year', 'films']].sort_values('birth_year', ascending = False)

In [62]:
year_df.head()

,name,birth_year,films
18,Yoda,896.0,"[http://swapi.dev/api/films/2/, http://swapi.d..."
15,Jabba Desilijic Tiure,600.0,"[http://swapi.dev/api/films/1/, http://swapi.d..."
12,Chewbacca,200.0,"[http://swapi.dev/api/films/1/, http://swapi.d..."
1,C-3PO,112.0,"[http://swapi.dev/api/films/1/, http://swapi.d..."
65,Dooku,102.0,"[http://swapi.dev/api/films/5/, http://swapi.d..."

In [65]:
yoda_film = year_df.iloc[0,:].films

In [66]:
film_names = []
for film in yoda_film:
    film_name = requests.get(film).json()
    film_names.append(film_name)

In [85]:
pd.DataFrame(film_names).title

0    The Empire Strikes Back
1         Return of the Jedi
2         The Phantom Menace
3       Attack of the Clones
4        Revenge of the Sith
Name: title, dtype: object